<app-nav-bar></app-nav-bar>
  
<mat-grid-list cols="2">
    <mat-grid-tile>HOSPITALS LIST</mat-grid-tile>
    <mat-grid-tile>
        <div>
            <section>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Doctors</button>
                </div>
            </section>
            <section>
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Patients</button>
                </div>
            </section>
            <section>
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Specialities</button>
                </div>
            </section>
        </div> 
    </mat-grid-tile>
</mat-grid-list>
  
