<div class="home-container">
    <mat-grid-list cols="2" [gutterSize]="'50px'">
        <mat-grid-tile>
            <img src="assets/homeicon.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="operations-container">
                <section>
                    <div class="home-title">
                        <h2>Available Operations:</h2>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/hospitals'" mat-raised-button color="primary">Register Hospitals</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/searchHospitals'" mat-raised-button color="primary">Search Hospitals</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/doctors'" mat-raised-button color="primary">Register Doctors</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/searchDoctors'" mat-raised-button color="primary">Search Doctors</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                        <button [routerLink]="'/patients'" mat-raised-button color="primary">Register Patients</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                        <button [routerLink]="'/searchPatients'" mat-raised-button color="primary">Search Patients</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                        <button [routerLink]="'/specialities'" mat-raised-button color="primary">Register Specialities</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                        <button [routerLink]="'/searchSpecialities'" mat-raised-button color="primary">Search Specialities</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/notes'" mat-raised-button color="primary">Register Notes</button>
                    </div>
                </section>
                <section>
                    <div class="button-row">
                    <button [routerLink]="'/searchNotes'" mat-raised-button color="primary">Search Notes</button>
                    </div>
                </section>
            </div> 
        </mat-grid-tile>
    </mat-grid-list>
</div>
