mat-grid-tile {
    background: lightblue;
}

/* section {
    display: table;
}
   */
   
.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}


.operations-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}